*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
::placeholder{
    color: rgb(230, 220, 220);
    text-shadow: 2px 2px gray;
}
.main-content{ 
    width: 20vw;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  

}
.heading{
    position: relative;
    font-family: 'Comforter Brush', cursive;
    text-shadow: 3px 4px #9eb8a1f6;
    font-size: 9rem;
    color: rgba(249, 255, 251, 0.959);

}
.nt{
    text-align: center;
    font-family: 'Comforter Brush', cursive;
    color: white;
    font-size: 0.8rem;
}
.input-group {
    display: flex;
    align-items: center;
}
  
.input {
    min-height: 55px;
    max-width: 180px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #325e45;
    border-radius: 6px 0 0 6px;
    background-color: transparent;

}
  
.button--submit {
    /* min-width: 120px; */
    min-height: 55px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #325e45;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .2s ease-in;
}
  
.button--submit:hover {
    background-color: #234230;
}
  
.input:focus, .input:focus-visible {
    border-color: #d1ddd6;
    outline: none;
}
body{
    background-color: #234230;
}
  
.tagline{
    letter-spacing: 1px;
    word-spacing: 1px;
    top: 71%;
    color: rgba(249, 255, 251, 0.959);
    font-size: 1rem;
    position: absolute;
    left: 65%;
}
.culture{
    display: flex;
    justify-content: space-around;
}
.tile-image{
    display: flex;
    align-items: center;
    position: relative;
}
.tile-image img{
    
    width: 25vw;
    height: auto;
}
.img-bg{
    position: absolute;
    width: 25vw;
    height: 40%;
    background-color: white;
}
.text{
    width: 40em;
}
.remarks{
    font-family: 'Raleway', sans-serif;
}